.perfil{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
.fotoper{
    display:flex;
    align-items:center;
}
#post1{
    display: flex;
    width: 50%;
    height: 50%;
}
.final{
    background-color: rgb(160, 19, 49);
 
}
.secao{
    background-color: rgb(51, 223, 223);
}
.nome{
    margin-left: 10px;
}
